/*--------------------------------------------------------------------------
	1. Body
--------------------------------------------------------------------------*/

body {
	color: #333;
	background: #fff;
	font: normal 18px/28px 'Cuprum', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
}



/*--------------------------------------------------------------------------
	2. Typography
--------------------------------------------------------------------------*/

/* Links */
a, a:visited { color: #333; text-decoration: none; outline: 0;}
p a, p a:visited { line-height: inherit; }

/* Font stylings */
em { font-style: italic; }
strong { font-weight: bold; }
small { font-size: 80%; }
@font-face {
    font-family: 'Cuprum';
    src: url('../fonts/CuprumRegular.eot');
    src: url('../fonts/CuprumRegular.eot') format('embedded-opentype'),
         url('../fonts/CuprumRegular.woff2') format('woff2'),
         url('../fonts/CuprumRegular.woff') format('woff'),
         url('../fonts/CuprumRegular.ttf') format('truetype'),
         url('../fonts/CuprumRegular.svg#CuprumRegular') format('svg');
}

@font-face {
    font-family: 'CuprumItalic';
    src: url('../fonts/CuprumItalic.eot');
    src: url('../fonts/CuprumItalic.eot') format('embedded-opentype'),
         url('../fonts/CuprumItalic.woff2') format('woff2'),
         url('../fonts/CuprumItalic.woff') format('woff'),
         url('../fonts/CuprumItalic.ttf') format('truetype'),
         url('../fonts/CuprumItalic.svg#CuprumItalic') format('svg');
}

@font-face {
    font-family: 'CuprumBold';
    src: url('../fonts/CuprumBold.eot');
    src: url('../fonts/CuprumBold.eot') format('embedded-opentype'),
         url('../fonts/CuprumBold.woff2') format('woff2'),
         url('../fonts/CuprumBold.woff') format('woff'),
         url('../fonts/CuprumBold.ttf') format('truetype'),
         url('../fonts/CuprumBold.svg#CuprumBold') format('svg');
}

@font-face {
    font-family: 'CuprumBoldItalic';
    src: url('../fonts/CuprumBoldItalic.eot');
    src: url('../fonts/CuprumBoldItalic.eot') format('embedded-opentype'),
         url('../fonts/CuprumBoldItalic.woff2') format('woff2'),
         url('../fonts/CuprumBoldItalic.woff') format('woff'),
         url('../fonts/CuprumBoldItalic.ttf') format('truetype'),
         url('../fonts/CuprumBoldItalic.svg#CuprumBoldItalic') format('svg');
}

@font-face {
    font-family: 'Eastman-Black';
    src: url('../fonts/Eastman-Black.woff2') format('woff2'),
    url('../fonts/Eastman-Black.woff') format('woff'),
    url('../fonts/Eastman-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

.zagolovka {
    font-family: 'Cuprum', sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 46px;
    line-height: 54px;
    margin-bottom:6px;
    border: 0px solid red;
    color: #333;
    text-transform: uppercase;
}

/*--------------------------------------------------------------------------
	3. Sections

	* Each block of the HTML page is named similar to "section-name"
	* If you don't need a specific section, just remove the whole section div block in the HTML file
--------------------------------------------------------------------------*/


p{
	color: #222;
	font: normal 18px/26px 'Cuprum', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-bottom: 20px;
}

p.headline {
	color: #555;
	font: 20px/25px 'CuprumItalic', Georgia, serif;
	text-align: left;
	margin: 30px 0;
}

p.desc{
	color: #777;
	font: 18px/26px 'CuprumItalic', Georgia, serif;
	text-align: left;
	margin-top: 7px;
}

/* Font colors */
.font-color-primary {
	color: #e30e12;
}

.font-color-white {
	color: #fff;
}

/* Colors - Underline */
.underline-color-primary {
	border-bottom: 1px solid #e30e12;
}

img { max-width: 100%; }

	/*---------------------------------------------------
		3.1 Topbar
	---------------------------------------------------*/

	#section-topbar {
		height: 44px;
		background: rgba(255,255,255, 0.9);
		border-top: #edf1f4 solid 3px;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 10000;
		overflow: visible;
		font: normal 16px/24px 'Cuprum', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	}

	/*	In mobile viewports, the list menu is converted to "select" element via javascript
		https://github.com/lukaszfiszer/selectnav.js  */
	.selectnav { display: none; }

	#section-topbar .mob_menu {
		display: none!important;
	}

	#section-topbar ul#nav {
		display: block;
		position: relative;
		width: 100%;
		margin: 0 auto;

	}

	#section-topbar ul#nav > li{
		display: block;
		float: left;
	}


	#section-topbar ul#nav a{
	  display: block;
	  padding: 13px 10px 13px 10px;
	  font: 16px/18px 'CuprumBold', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	  text-decoration: none;
	}


		#section-topbar ul#nav a:hover {
		  background: #e30e12;
		  text-decoration: none;
		  color: #fff;
		}

		#section-topbar ul#nav .active a {
		   background: #e30e12;
		   color: #fff;
		}

		#section-topbar .mob_menu {
			width: 100%;
		}

		#section-topbar .menu_icon {
			display: block;
			float: left;
			width: 25%;
		}

		#section-topbar .menu_icon a {
			display: block;
			text-align: center;
			font: normal 22px/44px 'Cuprum', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
			text-decoration: none;
			background: rgba(120,120,120, 0.9);
			border-left: 1px solid #ccc;
			border-bottom: 1px solid #ccc;
			color: #fff;
		}

		#section-topbar .menu_icon  a.withbrd {
			border-right: 1px solid #ccc;
		}

	/*	#section-topbar .menu_icon a:hover {
			background: #e30e12;
		    text-decoration: none;
		    color: #fff;
		}

	*/

		#section-topbar #next {
			cursor: pointer;
		}

		.icon-pulse {
		  display: inline-block;
		  -moz-animation: pulse 4s infinite linear;
		  -o-animation: pulse 4s infinite linear;
		  -webkit-animation: pulse 4s infinite linear;
		  animation: pulse 4s infinite linear;
		}

		@-webkit-keyframes pulse {
		  0% { opacity: 1; margin-top:0px; }
		  50% { opacity: 0.8; margin-top:0px; }
		  20% { opacity: 1; margin-top:2px; }
		}
		@-moz-keyframes pulse {
		  0% { opacity: 1; margin-top:0px; }
		  50% { opacity: 0.8; margin-top:0px; }
		  20% { opacity: 1; margin-top:2px; }
		}
		@-o-keyframes pulse {
		  0% { opacity: 1; margin-top:0px; }
		  50% { opacity: 0.8; margin-top:0px; }
		  20% { opacity: 1; margin-top:2px; }
		}
		@-ms-keyframes pulse {
		  0% { opacity: 1; margin-top:0px; }
		  50% { opacity: 0.8; margin-top:0px; }
		  20% { opacity: 1; margin-top:2px; }
		}
		@keyframes pulse {
		  0% { opacity: 1; margin-top:0px; }
		  50% { opacity: 0.8; margin-top:0px; }
		  20% { opacity: 1; margin-top:2px; }
		}

	/* -----------------Client styles-----------*/


	/*---------------------------------------------------
		3.2 invite
	---------------------------------------------------*/

	#section-invite {
		color: #222;
		/* The background image used in this template is 1980 by 650 pixels */
		background: #fff url('../images/bg/italic_bg01.jpg') no-repeat center 0;
		background-size: 100%;
		background-position: 50% 50%;
		position: relative;
	}

		/* Site Title */
		#section-invite img {
			display: block;
			width: 22%;
			margin: 22% auto;
		}



	/*---- Divider with red box inside-----------------*/
	.divider {
		width: 100%;
		height: auto;
		background: #edf1f4;
		}

		.divider .red-box {
			width: 10%;
			height: 4px;
			background: #e30e12;
			margin: 0 auto;
		}


	/*--- Common class for client's zone-----------------*/
	.client {
	color: #222;
	padding: 90px 0 30px 0;
	border-bottom: 4px solid #edf1f4;
	}

	.client .client_logo {
	width: 100%;
	}


	.client .low {
		margin-top: 7px;
	}

	.client .client_title {
		width: 100%;
	}
	.client a.client_link{
		color: #e30e12;
		margin-top: 40px;
		font-size: 20px;
	}

	.client a.client_link:hover {
		color: #111;
	}

	.client .eight img {
		margin-top: 7px;
	}

	.client img.client_elem {
		display:block;
		padding-top: 30px;
		margin: 0 auto;
	}

	/*------- Quote block styles----------------*/

	.quote {
		padding: 20px 0;
	}

	.quote table {
		margin: 0 auto;
		width: 60%;
		border: none;
	}

	.quote table td {
		text-align: center;
	}

	.quote table td.pic {
		width: 10%;
	}

	.quote table td.text {
		width: 80%;
	}

	.quote .headline {
		text-align: center;
		margin: 10px 5px;
	}

	.quote a.client_link {
		color: #e30e12;
	}

	.quote a.client_link:hover {
		color: #111;
	}
	/*---------------------------------------------------
		3.3 event

		* Contains an example article about the event
	---------------------------------------------------*/

	#section-client1 {
		background: #fcfcfc url(../images/bg/italic_bg02.svg);
		background-size: 100%;
	}

	#section-client2 {
		background: #fcfcfc url(../images/bg/italic_bg03.svg);
		background-size: 100%;
	}

	#section-client3 {
		background: url(../images/bg/italic_bg04.svg);
		background-size: 100%;
	}

	#section-client4 {
		background: url(../images/bg/italic_bg05.svg);
		background-size: 100%;
	}

	#section-client5 {
		background: url(../images/bg/italic_bg06.svg);
		background-size: 100%;
	}

	#section-client6 {
		background: url(../images/bg/italic_bg07.svg);
		background-size: 100%;
	}

	#section-client7 {
		background: url(../images/bg/italic_bg08.svg);
		background-size: 100%;
	}

	#section-client8 {
		background: url(../images/bg/italic_bg09.svg);
		background-size: 100%;
	}

	#section-client9 {
		background: url(../images/bg/italic_bg10.svg);
		background-size: 100%;
	}

	#section-client10 {
		background: url(../images/bg/italic_bg11.svg);
		background-size: 100%;
		border:none;
	}



	/*---------------------------------------------------
		3.4 Info
	---------------------------------------------------*/
	#section-info {
		background: #fff url(../images/italic_el04.jpg) no-repeat;
		background-size: 100%;
		padding: 90px 0 20px 0;
	}

	#section-info .about, #section-info .about2 {
		font: normal 26px/26px 'Cuprum', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		text-align: center;
		color: #fff;
		margin-bottom: 30px;
	}

	#section-info .about2 {
		font-size: 18px;
	}

	#section-info .fa-cubes {
		margin: 0 0 4px 2px;
	}

	#section-info .fa-cogs {
		margin: 1px 5px 0 0;
	}

	#section-info .headline {
		color: #fff;
	}

	#section-info i {
		text-align: center;
		font-size: 50px;
		line-height: 100px;
		color: #fff;
		width: 100%;
	}

	#section-info .brd {
		border: 2px solid #fff;
		width: 100px;
		height: 100px;
		margin: 0 auto;
		border-radius: 50%;
		margin-bottom: 20px;
	}

	#section-info .brd:hover{
		background: rgba(255,255,255, 0.7);
	}

	#section-info i:hover {
		color: #e30e12;
	}

	#section-info img {
		width: 100%;
	}
	#section-info p {
		color: #fff;
	}




	#section-info2 {
		background: #e30e12;
		padding: 60px 0 40px 0;
	}

	#section-info2 .info {
		color: #fff;
		font-size: 18px;
		line-height: 26px;
	}

	#section-info2 .info  span{
		font-family: 'CuprumItalic';
	}
	#section-info2 img {
		width: 100%;
	}
	a.section-info2-a {
		border-bottom:1px dashed white;
		color:#fff!important;
	}
	a.section-info2-a:hover {
		border-bottom:0px dashed white;
		color:#eee;
	}


	/*---------------------------------------------------
		3.5 Contact
	---------------------------------------------------*/

	#section-contact {
		color: #fff;
		background: #fff url(../images/bg/italic_el06.svg) no-repeat;
		background-size: 100%;
		padding: 90px 0 20px 0;
	}

		#section-contact .connect {
			font-size: 40px;
			margin-bottom: 20px;
		}

		#section-contact p {
			color: #fff;
		}

		#section-contact .continfo {
			font-size: 24px;
			margin-bottom: 15px;
			color: #fff;
		}

		#section-contact a[href^=tel]{
			font-size: 24px;
			margin-bottom: 15px;
			color: #fff;
		}
		#section-contact .contmail {
			color: #eee;
			border-bottom: 1px solid #e30e12;
		}
		
		#section-contact .contmail:hover {
			color: #fff;
			border: none;
		}
		

		
	/*---------------------------------------------------
		3.9 Sponsors
	---------------------------------------------------*/

	#section-sponsors {
		color: #444;
		background: rgba(0,0,0,0.5);
		padding: 60px 0 40px;
		margin: 40px 0 20px 0;
	}

		#section-sponsors h2 {
			font: 26px/36px 'CuprumBold', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
			margin-bottom: 20px;
			text-transform: uppercase;
		}

		#section-sponsors img {
			margin-bottom: 10px;
		}

		#section-sponsors .partner {
		border-bottom: 1px dashed #777;
		color: #444!important;
		}

		#section-sponsors .partner:hover {
			border:none;
			color: #555!important;
		}

	/*---------------------------------------------------
		3.10 Footer
	---------------------------------------------------*/

	#section-footer {
		font: normal 13px/24px 'Open Sans', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #fff;
	}

		#section-footer #copytext {
			color: #777;
			margin: 0;		
		}














